@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  font-family: calibri;
  font-style: normal;
}

.brand h1 {
  font-size: 1.5em;
  font-style: normal;
  font-weight: 300;
}

.grid-item-content {
  height: 100px;
  background: #d26;
  border: 2px solid hsla(0, 50%, 0%, 0.5);
  border-radius: 5px;
}

.lead {
  color: #797777;
  font-weight: bold;
  letter-spacing: 0.0909091em;
}

.grid-item-content-height2 {
  min-height: 400px;
}

.centered {
  text-align: center;
}

.grid {
  background: #fEfEfE;
  width:100%;
}

/* clearfix */

.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* .grid-sizer, .grid-item {
} */

.grid-item {
  margin-bottom: 10px;
}

.grid-item-wide {
  height: 400px;
}

.grid-item-tall {
  height: 600px;
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
}

#social-links{
  display: block;
}

.icon-block span{
  font-size: smaller;
  margin-left: 0.2em;
  margin-right: 0.7em;
}

.inset {
margin-left: 20%;
margin-right: 20%;
}
.icon-block img{
  height:1.1em;
  width:1.1em;
}

.icon-block svg{
  height:1.1em;
  width:1.1em;
  object-fit:scale-down;
  overflow: hidden;  

}
.container-fluid img {
  margin: 1em;
  margin-bottom: 0.2em;
  max-width:100%; 
  min-width:100%; 
  height:auto;
}

img.nomargin {
  margin-left: 0px;
  margin-right: 0px;
}

#app {
  text-align: justify;
}

.caption {
  padding-left: 2.5em;
  /* margin-right: 30%; */
  font-size: 80%;
  white-space: pre;
  line-height: 100%;
}

.price{
  text-align: right;
  padding-right: 0px;
}


.header-img{
  margin-bottom: 2em;
}

.saatchibtn{
  margin-top: 0.3em;
}

h2{
  text-align: center;
  margin:1em;
}

.icon-block{
  float:left;
  width:100%;
}