body {
  font-family: calibri;
  font-style: normal;
}

h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
}

.grid-item-content {
  height: 100px;
  background: #d26;
  border: 2px solid hsla(0, 50%, 0%, 0.5);
  border-radius: 5px;
}

.lead {
  color: #797777;
  font-weight: bold;
  letter-spacing: 0.0909091em;
}

.grid-item-content-height2 {
  min-height: 400px;
}

.centered {
  text-align: center;
}

.grid {
  background: #fEfEfE;
  width:100%;
}

/* clearfix */

.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* .grid-sizer, .grid-item {
} */

.grid-item {
  margin-bottom: 10px;
}

.grid-item-wide {
  height: 400px;
}

.grid-item-tall {
  height: 600px;
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
}

img {
  margin: 1em;
  margin-bottom: 0.2em;
  max-width:100%; 
  min-width:100%; 
  height:auto;
}

#app {
  text-align: justify;
}

.caption {
  padding-left: 2.5em;
  /* margin-right: 30%; */
  font-size: 80%;
  white-space: pre;
  line-height: 100%;
}

.price{
  text-align: right;
  padding-right: 0px;
}


.header-img{
  margin-bottom: 2em;
}